<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @visitor.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @visitor.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @visitor.email %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @visitor.comment %>
</p>

<%= link_to 'Edit', edit_visitor_path(@visitor) %> |
<%= link_to 'Back', visitors_path %>
