<footer class="footer-section">
	<div class="footer-top">
			<div class="container">
				<div class="row">
					<div class="row">
						<div class="col-lg-3 col-md-6 col-sm-6">
							<div class="f-widget">
								<div class="footer-logo">
								    <a href="index.html"><%= image_tag "graphics/mission-fuel-logo-sm.png", alt:"Image Name" %></a>
								</div>
								<div class="footer-content">
									<p>Mission Fuel is a non-profit corporation established in the State of New York, USA. We are in the process of
										applying for 501(c)3 status with the IRS. Once received all donations will be tax deductible retroactively
										to the date of our incorporation, March 23, 2017.</p>
								</div>
								<div class="contact-info">
									<ul>
										<li><i class="fa fa-home" aria-hidden="true"></i><span> 26 Railroad Ave. #355, Babylon, NY, 11706 USA.</span></li>
										<li><i class="fa fa-phone" aria-hidden="true"></i><span>+1-877-850-4323</span></li>
										<li><i class="fa fa-envelope-o" aria-hidden="true"></i><span> Info@missionfuel.net</span></li>
										<li><i class="fa fa-globe" aria-hidden="true"></i><span> www.missionfuel.net</span></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 col-sm-6">
<!-- 							<div class="f-widget">
								<h2>Latest News</h2>
								<ul class="latest-news">
									<li>
										<span class="small-thumbnail">
											<a href="#"><%= image_tag "images/footer-latest-news-one.jpg", alt: "Image Name" %></a>
										</span>
										<div class="content">
											<a href="#" class="latest-news-title">Corem ipsum dolor them amectetuer adip...</a>
											<span class="post-date">04 February 2016</span>
										</div>
									</li>
									<li>
										<span class="small-thumbnail">
											<a href="#"><%= image_tag "images/footer-latest-news-two.jpg", alt: "Image Name" %></a>
										</span>
										<div class="content">
											<a href="#" class="latest-news-title">Mirum est notare quam littera gothica nunc...</a>
											<span class="post-date">04 February 2016</span>
										</div>
									</li>
									<li>
										<span class="small-thumbnail">
											<a href="#"><%= image_tag "images/footer-latest-news-three.jpg", alt: "Image Name" %></a>
										</span>
										<div class="content">
											<a href="#" class="latest-news-title">Duis autem vel eum iriure dolor in hendrerit...</a>
											<span class="post-date">04 February 2016</span>
										</div>
									</li>
								</ul>
							</div> -->
						</div>
						<div class="col-lg-3 col-md-6 col-sm-6">
<!-- 							<div class="f-widget">
								<h2>Recent Photos</h2>
								<div class="footer-instagram">
								
									<a href="#"><%= image_tag "images/intagram-01.jpg", alt: "Instagram Photo" %></a>
									<a href="#"><%= image_tag "images/intagram-02.jpg", alt: "Instagram Photo" %></a>
									<a href="#"><%= image_tag "images/intagram-03.jpg", alt: "Instagram Photo" %></a>
									<a href="#"><%= image_tag "images/intagram-04.jpg", alt: "Instagram Photo" %></a>
									<a href="#"><%= image_tag "images/intagram-05.jpg", alt: "Instagram Photo" %></a>
									<a href="#"><%= image_tag "images/intagram-06.jpg", alt: "Instagram Photo" %></a>
									<a href="#"><%= image_tag "images/intagram-07.jpg", alt: "Instagram Photo" %></a>
									<a href="#"><%= image_tag "images/intagram-08.jpg", alt: "Image Name" %></a>
									<a href="#"><%= image_tag "images/intagram-09.jpg", alt: "Instagram Photo" %></a>
								</div>
							</div> -->
						</div>
						<div class="col-lg-3 col-md-6 col-sm-6">
							<div class="f-widget">
								<div class="submit-opinion">
									<div class="contact-details">
					                    <h2>Join Mailing List</h2>
											<div class="eGoConnectForm">
												<div>Stay in touch, receive news, updates, materials and promotions from us. You can opt out any time.</div></br>
													<form action="https://www.egoconnect.com/app/subscribe/mission-fuel" method="post" class="comment-form">
															<div>
														        <label for="fieldNameF">First Name</label><br />
														        <input id="fieldNameF" name="subs_first" type="text" class="input" required />
														    </div>
														    
														    <div>
														        <label for="fieldNameL">Last Name</label><br />
														        <input id="fieldNameL" name="subs_last" type="text" class="input" required />
														    </div>
														    
														    <div>
														        <label for="fieldEmail">Email</label><br />
														        <input id="fieldEmail" name="subs_email" type="email" class="input" required />
														    </div>
														    <div>
														        <button type="submit", class="btn btn-default btn-lg">Subscribe</button>
														    </div>

													</form>
												</div>
							                </div>
							        </div>
					            </div>
								
							</div>
						</div>
														
					</div>
				</div>
			</div>
	</div>
	<div class="footer-bottom">
		<div class="container">
			<div class="row">
				<div class="copyright-text">
					<p>&copy; 2017 Mission Fuel Inc</a></p>
				</div>
				<!-- <div class="social-icon">
					<ul>
						<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
					</ul>
				</div> -->
			</div>
		</div>
	</div>
</footer>
<%= javascript_include_tag 'application' %>