<footer class="footer-section">
	<div class="footer-top">
			<div class="container">
				<div class="row">
					<div class="row">
						<div class="col-lg-3 col-md-6 col-sm-6">
							<div class="f-widget">
								<div class="footer-logo">
								    <a href="index.html"><%= image_tag "graphics/mission-fuel-logo-sm.png", alt:"Image Name" %></a>
								</div>
								<div class="footer-content">
									<p>Distily enable team driven services through extensive is a relatonships platforms with interactive content. Enthusiastically scale effective.</p>
								</div>
								<div class="contact-info">
									<ul>
										<li><i class="fa fa-home" aria-hidden="true"></i><span> New Chokoya Road, USA.</span></li>
										<li><i class="fa fa-phone" aria-hidden="true"></i><span> +8801 923 970 212</span></li>
										<li><i class="fa fa-envelope-o" aria-hidden="true"></i><span> Contact@yourmail.com</span></li>
										<li><i class="fa fa-globe" aria-hidden="true"></i><span> www.codexcoder.com</span></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 col-sm-6">
							<div class="f-widget">
								<h2>Latest News</h2>
								<ul class="latest-news">
									<li>
										<span class="small-thumbnail">
											<a href="#"><%= image_tag "images/footer-latest-news-one.jpg", alt: "Image Name" %></a>
										</span>
										<div class="content">
											<a href="#" class="latest-news-title">Corem ipsum dolor them amectetuer adip...</a>
											<span class="post-date">04 February 2016</span>
										</div>
									</li>
									<li>
										<span class="small-thumbnail">
											<a href="#"><%= image_tag "images/footer-latest-news-two.jpg", alt: "Image Name" %></a>
										</span>
										<div class="content">
											<a href="#" class="latest-news-title">Mirum est notare quam littera gothica nunc...</a>
											<span class="post-date">04 February 2016</span>
										</div>
									</li>
									<li>
										<span class="small-thumbnail">
											<a href="#"><%= image_tag "images/footer-latest-news-three.jpg", alt: "Image Name" %></a>
										</span>
										<div class="content">
											<a href="#" class="latest-news-title">Duis autem vel eum iriure dolor in hendrerit...</a>
											<span class="post-date">04 February 2016</span>
										</div>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 col-sm-6">
							<div class="f-widget">
								<h2>Twitter Widget</h2>
								<ul class="twitter-widget">
									<li>
										<div class="twitter-pic">
										    <a href="#"><%= image_tag "images/twitter-profile-pic-01.jpg", alt: "Twitter Profile Photo" %></a>
										</div>
										<div class="twitter-content">
											<p><a href="#">Robot Smith</a> @Behancs<a href="#">http://t.co/hVtABj5tZo</a></p>
											<span class="twitt-time">23 seconds ago</span>
										</div>
									</li>
									<li>
										<div class="twitter-pic">
										    <a href="#"><%= image_tag "images/twitter-profile-pic-02.jpg", alt: "Twitter Profile Photo" %></a>
										</div>
										<div class="twitter-content">
											<p><a href="#">Jhone Doe</a> @Behancs <a href="">http://t.co/hVtABj5tZo</a></p>
											<span class="twitt-time">8 months ago</span>
										</div>
									</li>
									<li>
										<div class="twitter-pic">
										    <a href="#"><%= image_tag "images/twitter-profile-pic-03.jpg", alt: "Twitter Profile Photo" %></a>
										</div>
										<div class="twitter-content">
											<p><a href="3">Smith Jhons</a> @Behancs   <a href="#">http://t.co/hVtABj5tZo</a></p>
											<span class="twitt-time">2 years ago</span>
										</div>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-lg-3 col-md-6 col-sm-6">
							<div class="f-widget">
								<h2>Recent Photos</h2>
								<div class="footer-instagram">
								
									<a href="#"><%= image_tag "images/intagram-01.jpg", alt: "Instagram Photo" %></a>
									<a href="#"><%= image_tag "images/intagram-02.jpg", alt: "Instagram Photo" %></a>
									<a href="#"><%= image_tag "images/intagram-03.jpg", alt: "Instagram Photo" %></a>
									<a href="#"><%= image_tag "images/intagram-04.jpg", alt: "Instagram Photo" %></a>
									<a href="#"><%= image_tag "images/intagram-05.jpg", alt: "Instagram Photo" %></a>
									<a href="#"><%= image_tag "images/intagram-06.jpg", alt: "Instagram Photo" %></a>
									<a href="#"><%= image_tag "images/intagram-07.jpg", alt: "Instagram Photo" %></a>
									<a href="#"><%= image_tag "images/intagram-08.jpg", alt: "Image Name" %></a>
									<a href="#"><%= image_tag "images/intagram-09.jpg", alt: "Instagram Photo" %></a>
								</div>
							</div>
						</div>								
					</div>
				</div>
			</div>
	</div>
	<div class="footer-bottom">
		<div class="container">
			<div class="row">
				<div class="copyright-text">
					<p>&copy; 2016. Designer By <a href="https://www.codexcoder.com">LabArtisan</a></p>
				</div>
				<div class="social-icon">
					<ul>
						<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>