<!-- <section class="rev_slider_wrapper fullwidthbanner-container"> -->
	<div id="rev_slider_17_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="missionfuel" data-source="gallery" style="margin:0px auto;background:#ffffff;padding:0px;margin-top:0px;margin-bottom:0px;">
	<!-- START REVOLUTION SLIDER 5.4.1 fullwidth mode -->
		<div id="rev_slider_17_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.4.1">
			<ul>
				<!-- SLIDE  -->
                <%= render "/shared/slides/mens_ministry_slide" %>
				<!-- SLIDE  -->
                <%= render "/shared/slides/widows_orphans_slide" %>
				<!-- SLIDE  -->
                <%= render "/shared/slides/new_life_slide" %>

				<!-- SLIDE  -->
                <%= render "/shared/slides/girls_women_slide" %>

                <!-- SLIDE  -->
                <%= render "/shared/slides/children_home_slide" %>

                
                


		    </ul>
	    </div>
	    <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>	
	</div>
<!-- </section> -->