
        <!-- Slider Section -->
        <%= render "/shared/missionfuel_slider" %>

		<!-- End Slider Section --> 
        <section class="section helping-section">
            <div class="container">
                <div class="row">
                    <div class="section-heading">
                        <h3>We Need Your Help?</h3>
                        <p>Aenean sollicitudin quis bibendum auctor sagittis awesome theme
                        Duis sed odio sit amet nibh vulputate cursus.</p> 
                    </div>                    
                </div>
                <div class="row">
                    <div class="helping-box">
                        <div class="helping-list">
                           <!-- Nav tabs -->
                          <ul role="tablist">
                              <li role="presentation"><a href="#help_tab_one" aria-controls="help_tab_one" role="tab" data-toggle="tab"><span class="flaticon-open-book"></span><span>Educate Kids</span></a></li>
                            <li role="presentation" class="active"><a href="#help_tab_two" aria-controls="help_tab_two" role="tab" data-toggle="tab"><span class="flaticon-shirt"></span><span>Donate Clothes</span></a></li>
                            <li role="presentation"><a href="#help_tab_three" aria-controls="help_tab_three" role="tab" data-toggle="tab"><span class="flaticon-sack"></span><span>Arrange Food</span></a></li>
                            <li role="presentation"><a href="#help_tab_four" aria-controls="help_tab_four" role="tab" data-toggle="tab"><span class="flaticon-donation"></span><span>Donate Money</span></a></li>
                            <li role="presentation"><a href="#help_tab_five" aria-controls="help_tab_five" role="tab" data-toggle="tab"><span class="flaticon-people"></span><span>Become a Volunteer</span></a></li>
                            <li role="presentation"><a href="#help_tab_six" aria-controls="help_tab_six" role="tab" data-toggle="tab"><span class="flaticon-people-1"></span><span>Adopt a Child</span></a></li>
                          </ul>                           
                        </div>
                        <div class="helping-details">
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade" id="help_tab_one">
                                    <div class="helping-img">
                                        <%= image_tag "images/helping-image-01.jpg", alt: "Helping Image" %>
                                    </div>
                                    <div class="helping-description">
                                        <p>Dramatically cultivate premier best practices before auser are centric leadership. Distinctively coordinate enterprise wide and schemas rather than visionary resources. Assertively an matrix out-of-the-box anvortals via installed base and convergence. Dramatically incentivize fully are and researched opportunities rather than backward-compatible an best theme anpractices.</p>
                                        <p>Rapidiously enhance plug-and play a core and competencies awesome error-free web-readiness. Rapidiously aggregate 2.0 communities rather than enterprise.</p>
                                        <a href="#" class="btn-two">Read More </a>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane fade in active" id="help_tab_two">
                                    <div class="helping-img">
                                        <%= image_tag "images/helping-image-02.jpg", alt: "Helping Image" %>
                                    </div>
                                    <div class="helping-description">
                                        <p>Dramatically cultivate premier best practices before auser are centric leadership. Distinctively coordinate enterprise wide and schemas rather than visionary resources. Assertively an matrix out-of-the-box anvortals via installed base and convergence. Dramatically incentivize fully are and researched opportunities rather than backward-compatible an best theme anpractices.</p>
                                        <p>Rapidiously enhance plug-and play a core and competencies awesome error-free web-readiness. Rapidiously aggregate 2.0 communities rather than enterprise.</p>
                                        <a href="#" class="btn-two">Read More </a>
                                    </div>                                    
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="help_tab_three">
                                    <div class="helping-img">
                                        <%= image_tag "images/helping-image-01.jpg", alt: "Helping Image" %>
                                    </div>
                                    <div class="helping-description">
                                        <p>Dramatically cultivate premier best practices before auser are centric leadership. Distinctively coordinate enterprise wide and schemas rather than visionary resources. Assertively an matrix out-of-the-box anvortals via installed base and convergence. Dramatically incentivize fully are and researched opportunities rather than backward-compatible an best theme anpractices.</p>
                                        <p>Rapidiously enhance plug-and play a core and competencies awesome error-free web-readiness. Rapidiously aggregate 2.0 communities rather than enterprise.</p>
                                        <a href="#" class="btn-two">Read More </a>
                                    </div>                                    
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="help_tab_four">
                                    <div class="helping-img">
                                        <%= image_tag "images/helping-image-02.jpg", alt: "Helping Image" %>
                                    </div>
                                    <div class="helping-description">
                                        <p>Dramatically cultivate premier best practices before auser are centric leadership. Distinctively coordinate enterprise wide and schemas rather than visionary resources. Assertively an matrix out-of-the-box anvortals via installed base and convergence. Dramatically incentivize fully are and researched opportunities rather than backward-compatible an best theme anpractices.</p>
                                        <p>Rapidiously enhance plug-and play a core and competencies awesome error-free web-readiness. Rapidiously aggregate 2.0 communities rather than enterprise.</p>
                                        <a href="#" class="btn-two">Read More </a>
                                    </div>                                    
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="help_tab_five">
                                    <div class="helping-img">
                                        <%= image_tag "images/helping-image-01.jpg", alt: "Helping Image" %>
                                    </div>
                                    <div class="helping-description">
                                        <p>Dramatically cultivate premier best practices before auser are centric leadership. Distinctively coordinate enterprise wide and schemas rather than visionary resources. Assertively an matrix out-of-the-box anvortals via installed base and convergence. Dramatically incentivize fully are and researched opportunities rather than backward-compatible an best theme anpractices.</p>
                                        <p>Rapidiously enhance plug-and play a core and competencies awesome error-free web-readiness. Rapidiously aggregate 2.0 communities rather than enterprise.</p>
                                        <a href="#" class="btn-two">Read More </a>
                                    </div>                                    
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="help_tab_six">
                                    <div class="helping-img">
                                        <%= image_tag "images/helping-image-02.jpg", alt: "Helping Image" %>
                                    </div>
                                    <div class="helping-description">
                                        <p>Dramatically cultivate premier best practices before auser are centric leadership. Distinctively coordinate enterprise wide and schemas rather than visionary resources. Assertively an matrix out-of-the-box anvortals via installed base and convergence. Dramatically incentivize fully are and researched opportunities rather than backward-compatible an best theme anpractices.</p>
                                        <p>Rapidiously enhance plug-and play a core and competencies awesome error-free web-readiness. Rapidiously aggregate 2.0 communities rather than enterprise.</p>
                                        <a href="#" class="btn-two">Read More </a>
                                    </div>                                    
                                </div>
                            </div>                            
                        </div>
                    </div>
                </div>          
            </div>
        </section>       
    
		<!-- Causes Section -->
		<section class="section causes-section">
		    <div class="container">
                <div class="row">
                    <div class="section-heading">
                        <span class="flaticon-solidarity"></span>
                        <h3>Urgent Causes Donation</h3>
                        <p>Aenean sollicitudin quis bibendum auctor sagittis awesome theme
                        Duis sed odio sit amet nibh vulputate cursus.</p>
                    </div>                    
                </div>
                <div class="row">
                    <div class="causes">
                        <div class="col-sm-4">
                            <div class="single-causes-box">
                                <div class="causes-img">
                                    <a href="causes_single.html"><%= image_tag "images/causes-01.jpg", alt: "Causes Image" %></a>
                                </div>
                                <div class="causes-content">
                                    <h4><a href="causes_single.html">Children Need Family</a></h4>
                                    <p>Credibly iplement interopriable and just Continually cultivate team.</p>
                                    <h5><span>Raised:</span>$50.00.000</h5>
                                    <h5><span>Gold:</span>$1.50.000.000</h5>
                                    <div class="progressbar" data-animate="false">
                                        <div class="circle" data-percent="60">
                                            <div></div>
                                        </div>
                                    </div>
                                    <a href="#" class="btn-two">Donate Now <i class="fa fa-heart" aria-hidden="true"></i></a> 
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="single-causes-box">
                                <div class="causes-img">
                                    <a href="causes_single.html"><%= image_tag "images/causes-02.jpg", alt: "Causes Image" %></a>
                                </div>
                                <div class="causes-content">
                                    <h4><a href="causes_single.html">Sponsor A Child Today</a></h4>
                                    <p>Credibly iplement interopriable and just Continually cultivate team.</p>
                                    <h5><span>Raised:</span>$50.00.000</h5>
                                    <h5><span>Gold:</span>$1.50.000.000</h5>
                                    <div class="progressbar" data-animate="false">
                                        <div class="circle" data-percent="60">
                                            <div></div>
                                        </div>
                                    </div>
                                    <a href="#" class="btn-two">Donate Now <i class="fa fa-heart" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="single-causes-box">
                                <div class="causes-img">
                                    <a href="causes_single.html"><%= image_tag "images/causes-03.jpg", alt: "Causes Image" %></a>
                                </div>
                                <div class="causes-content">
                                    <h4><a href="causes_single.html">Clean Water For 1k People</a></h4>
                                    <p>Credibly iplement interopriable and just Continually cultivate team.</p>
                                    <h5><span>Raised:</span>$50.00.000</h5>
                                    <h5><span>Gold:</span>$1.50.000.000</h5>
                                    <div class="progressbar" data-animate="false">
                                        <div class="circle" data-percent="60">
                                            <div></div>
                                        </div>
                                    </div>
                                    <a href="#" class="btn-two">Donate Now <i class="fa fa-heart" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="load-all-element">
                        <a href="#" class="button">See All Causes</a>
                    </div>
                </div>
		    </div>
		</section>      
		<!-- End Causes Section -->      
		<!-- Gallery Section -->
		<section class="gallery-section section">
		    <div class="container">
                <div class="row">
                    <div class="section-heading">
                        <span class="flaticon-solidarity"></span>
                        <h3>Our Photo Gallery</h3>
                        <p>Aenean sollicitudin quis bibendum auctor sagittis awesome theme
                        Duis sed odio sit amet nibh vulputate cursus.</p>
                    </div>                    
                </div>
                <div class="row">
                    <div class="gallery">
						<div class="gallery-menu">
							<ul>
								<li class="is_selected" data-filter="*">All</li>
								<li data-filter=".charity">Charity</li>
								<li data-filter=".health">Health</li>
								<li data-filter=".food">Food</li>
								<li data-filter=".education">Education</li>
								<li data-filter=".childreen">Childreen</li>
							</ul>							
						</div>
                         <div class="all-gallery-items">
                             <div class="single-item breakfast dinner health education food">
                                 <div class="gallery-img">
                                     <%= image_tag "images/gallery-masonry-01.jpg", alt: "Heaven Hands Gallery Image" %>
                                     <div class="overlay"></div>
                                     <div class="gallery-content">
                                         <a href="images/gallery-masonry-01.jpg" data-rel="lightcase:myCollection"><i class="fa fa-expand" aria-hidden="true"></i></a>
                                         <h4><a href="#">Image Title Here</a></h4>
                                     </div>                                     
                                 </div>
                             </div>
                             <div class="single-item lunch charity food">
                                 <div class="gallery-img">
                                     <%= image_tag "images/gallery-masonry-02.jpg", alt: "Heaven Hands Gallery Image" %>
                                     <div class="overlay"></div>
                                     <div class="gallery-content">
                                         <a href="images/gallery-masonry-02.jpg" data-rel="lightcase:myCollection"><i class="fa fa-expand" aria-hidden="true"></i></a>
                                         <h4><a href="#">Image Title Here</a></h4>
                                     </div>                 
                                 </div>
                             </div>
                             <div class="single-item breakfast lunch charity health education">
                                 <div class="gallery-img">
                                     <%= image_tag "images/gallery-masonry-03.jpg", alt: "Heaven Hands Gallery Image" %>
                                     <div class="overlay"></div>
                                     <div class="gallery-content">
                                         <a href="images/gallery-masonry-03.jpg" data-rel="lightcase:myCollection"><i class="fa fa-expand" aria-hidden="true"></i></a>
                                         <h4><a href="#">Image Title Here</a></h4>
                                     </div>                 
                                 </div>
                             </div>
                             <div class="single-item lunch health charity childreen">
                                 <div class="gallery-img">
                                     <%= image_tag "images/gallery-masonry-04.jpg", alt: "Heaven Hands Gallery Image" %>
                                     <div class="overlay"></div>
                                     <div class="gallery-content">
                                         <a href="images/gallery-masonry-04.jpg" data-rel="lightcase:myCollection"><i class="fa fa-expand" aria-hidden="true"></i></a>
                                         <h4><a href="#">Image Title Here</a></h4>
                                     </div>                 
                                 </div>
                             </div>
                             <div class="single-item breakfast lunch health education charity">
                                 <div class="gallery-img">
                                     <%= image_tag "images/gallery-masonry-06.jpg", alt: "Heaven Hands Gallery Image" %>
                                     <div class="overlay"></div>
                                     <div class="gallery-content">
                                         <a href="images/gallery-masonry-06.jpg" data-rel="lightcase:myCollection"><i class="fa fa-expand" aria-hidden="true"></i></a>
                                         <h4><a href="#">Image Title Here</a></h4>
                                     </div>                 
                                 </div>
                             </div>
                             <div class="single-item breakfast lunch health food childreen">
                                 <div class="gallery-img">
                                     <%= image_tag "images/gallery-masonry-05.jpg", alt: "Heaven Hands Gallery Image" %>
                                     <div class="overlay"></div>
                                     <div class="gallery-content">
                                         <a href="images/gallery-masonry-05.jpg" data-rel="lightcase:myCollection"><i class="fa fa-expand" aria-hidden="true"></i></a>
                                         <h4><a href="#">Image Title Here</a></h4>
                                     </div>                 
                                 </div>
                             </div>
                             <div class="single-item breakfast lunch health education">
                                 <div class="gallery-img">
                                     <%= image_tag "images/gallery-masonry-09.jpg", alt: "Heaven Hands Gallery Image" %>
                                     <div class="overlay"></div>
                                     <div class="gallery-content">
                                         <a href="images/gallery-masonry-09.jpg" data-rel="lightcase:myCollection"><i class="fa fa-expand" aria-hidden="true"></i></a>
                                         <h4><a href="#">Image Title Here</a></h4>
                                     </div>                 
                                 </div>
                             </div>
                             <div class="single-item breakfast lunch charity food childreen">
                                 <div class="gallery-img">
                                     <%= image_tag "images/gallery-masonry-08.jpg", alt: "Heaven Hands Gallery Image" %>
                                     <div class="overlay"></div>
                                     <div class="gallery-content">
                                         <a href="images/gallery-masonry-08.jpg" data-rel="lightcase:myCollection"><i class="fa fa-expand" aria-hidden="true"></i></a>
                                         <h4><a href="#">Image Title Here</a></h4>
                                     </div>                 
                                 </div>
                             </div>
                             <div class="single-item breakfast lunch health education">
                                 <div class="gallery-img">
                                     <%= image_tag "images/gallery-masonry-07.jpg", alt: "Heaven Hands Gallery Image" %>
                                     <div class="overlay"></div>
                                     <div class="gallery-content">
                                         <a href="images/gallery-masonry-07.jpg" data-rel="lightcase:myCollection"><i class="fa fa-expand" aria-hidden="true"></i></a>
                                         <h4><a href="#">Image Title Here</a></h4>
                                     </div>                 
                                 </div>
                             </div>
                         </div>                      
                    </div>
                </div>		        
		    </div>
		</section>      
		<!-- End Gallery Section -->      
		<!-- Running Project Section -->
		<section class="section running-project-section">
		    <div class="container">
                <div class="row">
                    <div class="section-heading">
                        <span class="flaticon-solidarity"></span>
                        <h3>Running Projects</h3>
                        <p>Aenean sollicitudin quis bibendum auctor sagittis awesome theme
                        Duis sed odio sit amet nibh vulputate cursus.</p>
                    </div>                    
                </div>
                <div class="row">
                    <div class="running-projects">
                        <div class="col-md-6 col-sm-12">
                            <div class="project-list scrollbox">
                                <ul>
                                    <li onmouseover="hover(1)" onmouseout="out(1)">
                                        <div class="project-progress">
                                            <div class="progressbar" data-animate="false">
                                                <div class="circle" data-percent="78">
                                                    <div></div>
                                                </div>
                                            </div>                                            
                                        </div>
                                        <div class="p-locaion-adress">
                                            <h4><a href="project_single.html">Africa's - 35,5 mln People Are Hungry</a></h4>
                                            <p>Competently morph exceptional ideas and that anafter awesome after awesome inexpensive channels.</p>
                                        </div>
                                    </li>
                                    <li onmouseover="hover(2)" onmouseout="out(2)">
                                        <div class="project-progress">
                                            <div class="progressbar" data-animate="false">
                                                <div class="circle" data-percent="78">
                                                    <div></div>
                                                </div>
                                            </div>                                            
                                        </div>
                                        <div class="p-locaion-adress">
                                            <h4><a href="project_single.html">Africa's - 35,5 mln People Are Hungry</a></h4>
                                            <p>Competently morph exceptional ideas and that anafter awesome after awesome inexpensive channels.</p>
                                        </div>
                                    </li>
                                    <li onmouseover="hover(3)" onmouseout="out(3)">
                                        <div class="project-progress">
                                            <div class="progressbar" data-animate="false">
                                                <div class="circle" data-percent="78">
                                                    <div></div>
                                                </div>
                                            </div>                                            
                                        </div>
                                        <div class="p-locaion-adress">
                                            <h4><a href="project_single.html">Africa's - 35,5 mln People Are Hungry</a></h4>
                                            <p>Competently morph exceptional ideas and that anafter awesome after awesome inexpensive channels.</p>
                                        </div>
                                    </li>
                                    <li onmouseover="hover(4)" onmouseout="out(4)">
                                        <div class="project-progress">
                                            <div class="progressbar" data-animate="false">
                                                <div class="circle" data-percent="78">
                                                    <div></div>
                                                </div>
                                            </div>                                            
                                        </div>
                                        <div class="p-locaion-adress">
                                            <h4><a href="project_single.html">Africa's - 35,5 mln People Are Hungry</a></h4>
                                            <p>Competently morph exceptional ideas and that anafter awesome after awesome inexpensive channels.</p>
                                        </div>
                                    </li>
                                    <li onmouseover="hover(5)" onmouseout="out(5)">
                                        <div class="project-progress">
                                            <div class="progressbar" data-animate="false">
                                                <div class="circle" data-percent="78">
                                                    <div></div>
                                                </div>
                                            </div>                                            
                                        </div>
                                        <div class="p-locaion-adress">
                                            <h4><a href="project_single.html">Africa's - 35,5 mln People Are Hungry</a></h4>
                                            <p>Competently morph exceptional ideas and that anafter awesome after awesome inexpensive channels.</p>
                                        </div>
                                    </li>
                                    <li onmouseover="hover(6)" onmouseout="out(6)">
                                        <div class="project-progress">
                                            <div class="progressbar" data-animate="false">
                                                <div class="circle" data-percent="78">
                                                    <div></div>
                                                </div>
                                            </div>                                            
                                        </div>
                                        <div class="p-locaion-adress">
                                            <h4>Africa's - 35,5 mln People Are Hungry</h4>
                                            <p>Competently morph exceptional ideas and that anafter awesome after awesome inexpensive channels.</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="project-location">
                                <div id="map_canvas" data-hue="#ffc400"></div>
                            </div>
                        </div>
                    </div>
                </div>		        
		    </div>
		</section>      
		<!-- End Running Project Section -->  
		<!-- Donator Section -->
		<section class="section donator-section">
		    <div class="container">
                <div class="row">
                    <div class="section-heading">
                        <span class="flaticon-solidarity"></span>
                        <h3>Recent Top Donators</h3>
                        <p>Aenean sollicitudin quis bibendum auctor sagittis awesome theme
                        Duis sed odio sit amet nibh vulputate cursus.</p>
                    </div>                    
                </div>
                <div class="row">
                    <div class="donator-people">
                        <div class="col-md-3 col-sm-6">
                            <div class="single-donator">
                                <div class="donator-img">
                                    <%= image_tag "images/donator-person-01.jpg", alt: "Donator Person" %>
                                </div>
                                <div class="donators-info">
                                    <h4>MH Sohag</h4>
                                    <h5>Donated : <span>$5000</span></h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="single-donator">
                                <div class="donator-img">
                                    <%= image_tag "images/donator-person-02.jpg", alt: "Donator Person" %>
                                </div>
                                <div class="donators-info">
                                    <h4>Jhon Smith</h4>
                                    <h5>Donated : <span>$2000</span></h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="single-donator">
                                <div class="donator-img">
                                    <%= image_tag "images/donator-person-03.jpg", alt: "Donator Person" %>
                                </div>
                                <div class="donators-info">
                                    <h4>Janaton Doe</h4>
                                    <h5>Donated : <span>$4000</span></h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="single-donator">
                                <div class="donator-img">
                                    <%= image_tag "images/donator-person-04.jpg", alt: "Donator Person" %>
                                </div>
                                <div class="donators-info">
                                    <h4>Joly Smith</h4>
                                    <h5>Donated : <span>$3000</span></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="button-div">
                        <a href="#" class="button">Donate Now <i class="fa fa-heart" aria-hidden="true"></i></a>
                        <a href="#" class="btn-two">Join With Us <i class="fa fa-user" aria-hidden="true"></i></a>
                    </div>
                </div>		        
		    </div>
		</section>  
		<!-- End Donator Section -->  
		<!-- Upcoming Events Section --> 
		<section class="section event-section">
		    <div class="container">
                <div class="row">
                    <div class="section-heading">
                        <span class="flaticon-solidarity"></span>
                        <h3>Upcoming Events</h3>
                        <p>Aenean sollicitudin quis bibendum auctor sagittis awesome theme
                        Duis sed odio sit amet nibh vulputate cursus.</p>
                    </div>                    
                </div>
                <div class="row">
                    <div class="all-events">
                        <div class="col-sm-6 col-xs-12">
                            <div class="single-event">
                                <div class="event-pic">
                                    <%= image_tag "images/event-pic-01.jpg", alt: "Event Picture" %>
                                    <div class="event-date">
                                        <span class="date">12</span>
                                        <span class="year">Nov 2016</span>
                                    </div>
                                </div>
                                <div class="event-info">
                                    <h4><a href="single_event.html">Charity Camp in Africa</a></h4>
                                    <p>Comntly empower theme that colration awesome haring.</p>
                                    <span><i class="fa fa-user" aria-hidden="true"></i> : Janaton Smith</span>
                                    <span><i class="fa fa-clock-o" aria-hidden="true"></i> : 10:00am - 05:00pm</span>
                                    <span><i class="fa fa-home" aria-hidden="true"></i> :  Lavel-a/12 Dhaka-1218</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <div class="single-event">
                                <div class="event-pic">
                                    <%= image_tag "images/event-pic-02.jpg", alt: "Event Picture" %>
                                    <div class="event-date">
                                        <span class="date">14</span>
                                        <span class="year">Jan 2017</span>
                                    </div>
                                </div>
                                <div class="event-info">
                                    <h4><a href="single_event.html">Charity Camp in Africa</a></h4>
                                    <p>Comntly empower theme that colration awesome haring.</p>
                                    <span><i class="fa fa-user" aria-hidden="true"></i> : Janaton Smith</span>
                                    <span><i class="fa fa-clock-o" aria-hidden="true"></i> : 10:00am - 05:00pm</span>
                                    <span><i class="fa fa-home" aria-hidden="true"></i> :  Lavel-a/12 Dhaka-1218</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <div class="single-event">
                                <div class="event-pic">
                                    <%= image_tag "images/event-pic-03.jpg", alt: "Event Picture" %>
                                    <div class="event-date">
                                        <span class="date">18</span>
                                        <span class="year">Feb 2017</span>
                                    </div>
                                </div>
                                <div class="event-info">
                                    <h4><a href="single_event.html">Charity Camp in Africa</a></h4>
                                    <p>Comntly empower theme that colration awesome haring.</p>
                                    <span><i class="fa fa-user" aria-hidden="true"></i> : Janaton Smith</span>
                                    <span><i class="fa fa-clock-o" aria-hidden="true"></i> : 10:00am - 05:00pm</span>
                                    <span><i class="fa fa-home" aria-hidden="true"></i> :  Lavel-a/12 Dhaka-1218</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <div class="single-event">
                                <div class="event-pic">
                                    <%= image_tag "images/event-pic-04.jpg", alt: "Event Picture" %>
                                    <div class="event-date">
                                        <span class="date">30</span>
                                        <span class="year">Jun 1994</span>
                                    </div>
                                </div>
                                <div class="event-info">
                                    <h4><a href="single_event.html">Charity Camp in Africa</a></h4>
                                    <p>Comntly empower theme that colration awesome haring.</p>
                                    <span><i class="fa fa-user" aria-hidden="true"></i> : Janaton Smith</span>
                                    <span><i class="fa fa-clock-o" aria-hidden="true"></i> : 10:00am - 05:00pm</span>
                                    <span><i class="fa fa-home" aria-hidden="true"></i> :  Lavel-a/12 Dhaka-1218</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>		        
		    </div>
		</section> 
		<!-- End Upcoming Events Section --> 
		<!-- Twitter Section -->
	 