
        <!-- Slider Section -->
        <%= render "/shared/missionfuel_slider" %>

		<!-- End Slider Section --> 
        <section class="section helping-section">
            <div class="container">
                <div class="row">
                    <div class="section-heading sc-section-heading">
                        <h3>We Need Your Help</h3>
                        <p>Mission Fuel was started by regular people just like you who through short term missions projects were moved to action by the love of Christ for the people who they encountered. Having exceeded our own financial resources to provide the assistance needed, we are now reaching out to others who would like to join our work. </p> 
                    </div>                    
                </div>
                <div class="row">
                    <div class="helping-box">
                        <div class="helping-list">
                           <!-- Nav tabs -->
                          <ul role="tablist">
                              <li role="presentation"><a href="#help_tab_one" aria-controls="help_tab_one" role="tab" data-toggle="tab"><span class="flaticon-open-book"></span><span>Support a Church</span></a></li>
                            <li role="presentation" class="active"><a href="#help_tab_two" aria-controls="help_tab_two" role="tab" data-toggle="tab"><span class="flaticon-shirt"></span><span>Support a Pastor</span></a></li>
                            <li role="presentation"><a href="#help_tab_three" aria-controls="help_tab_three" role="tab" data-toggle="tab"><span class="flaticon-sack"></span><span>Provide Education and Training</span></a></li>
                            <li role="presentation"><a href="#help_tab_four" aria-controls="help_tab_four" role="tab" data-toggle="tab"><span class="flaticon-donation"></span><span>Help the Poor</span></a></li>
                            <li role="presentation"><a href="#help_tab_five" aria-controls="help_tab_five" role="tab" data-toggle="tab"><span class="flaticon-donation"></span><span>Change a Child's Life</span></a></li>
                          </ul>                           
                        </div>
                        <div class="helping-details">
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade" id="help_tab_one">
                                    <div class="helping-img">
                                        <%= image_tag "worshipping_church.jpg", alt: "Helping Image" %>
                                    </div>
                                    <div class="helping-description">
                                        <p>The churches we support serve very poor communities who lack the ability to support the costs of a building, pastor’s salary, and other costs of operations. Your donations to Mission Fuel will be used to assist these rapidly growing congregations with these expenses so that they can focus on preaching the Good News of Jesus Christ to the many spiritually hungry people in their communities and attending to their material and physical needs.</p>
                                        
                                        <a href="https://app.missionfuel.net/secure/donate" class="btn-two">Donate</a>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane fade in active" id="help_tab_two">
                                    <div class="helping-img">
                                        <%= image_tag "pastor_family.jpg", alt: "Helping Image" %>
                                    </div>
                                    <div class="helping-description">
                                        <p>Many pastors are unable to support their families with the meager incomes their congregations are able to provide. They must supplement their income through time consuming and exhausting work that diminishes their effectiveness in attending to the needs of their congregations or in spreading the life changing message of salvation through Jesus Christ. Your donations to Mission Fuel will help these pastors be free to devote 100% of their time and attention to their ministry by providing them with a living wage to support their families.</p>
                                        
                                        <a href="https://app.missionfuel.net/secure/donate" class="btn-two">Donate</a>
                                    </div>                                    
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="help_tab_three">
                                    <div class="helping-img">
                                        <%= image_tag "skills_training.jpg", alt: "Helping Image" %>
                                    </div>
                                    <div class="helping-description">
                                        <p>Many children around the world are caught in a cycle of poverty caused by (among other factors) a lack of basic education and trade skills. While the cost of education in the developing world is relatively small by American standards, these costs are beyond the ability for most families to pay. Your donations to Mission Fuel will help us to provide scholarships to assist poor families to get the education and trade skills they need to become financially self supporting and to break the cycle of poverty.</p>
                                       
                                        <a href="https://app.missionfuel.net/secure/donate" class="btn-two">Donate </a>
                                    </div>                                    
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="help_tab_four">
                                    <div class="helping-img">
                                        <%= image_tag "helping_poor.jpg", alt: "Helping Image" %>
                                    </div>
                                    <div class="helping-description">
                                        <p>Poverty in the developing world is grinding and merciless. The love of Christ is made manifest when we give food, clean water, and shelter for those who can not provide for themselves for whatever reason. In these countries, there is no safety net for the poor. In their desperation many must resort to horrible practices for survival such as prostitution, slavery, drug trafficking, or dangerous and grueling labor. Mission Fuel seeks to provide the churches we support with the resources they need so they can aid the poor that the world has forgotten. Your donations help us in this work.</p>

                                        <a href="https://app.missionfuel.net/secure/donate" class="btn-two">Donate </a>
                                    </div>                                    
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="help_tab_five">
                                    <div class="helping-img">
                                        <%= image_tag "children_ministry1.jpg", alt: "Helping Image" %>
                                    </div>
                                    <div class="helping-description">
                                        <p>Children in the developing world often suffer as a result of poverty, neglect, or abuse. Mission Fuel supports church projects that provide safe shelter, nutritious meals, and education for children. Once these basic needs are met, the children are introduced to the God who created them and loves them. These children hunger and thirst to learn more about God through his Word.</p>

                                        <a href="https://app.missionfuel.net/secure/donate" class="btn-two">Donate</a>
                                    </div>                                    
                                </div>
                            </div>                            
                        </div>
                    </div>
                </div>          
            </div>
        </section>       
    
     
		<!-- Start Gallery Section -->
        <% unless @gallery.nil? %>
            <%= render "/shared/home_gallery" %>
        <% end %>   
		<!-- End Gallery Section -->
 

	 