<%= render "shared/breadcrumbs" %>

<section class="section all-team-member p-90">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="single-member">
                    <div class="member-image">
                        <%=image_tag "images/volunteer-01.jpg", alt:"Image Name"%>
                    </div>
                    <div class="member-info">
                        <h4><a href="team_single.html">MH Sohag</a></h4>
                        <h5>Founder</h5>
                    </div>
                    <div class="member-social-link">
                        <a href="#" class="fa fa-facebook" aria-hidden="true"></a>
                        <a href="#" class="fa fa-twitter" aria-hidden="true"></a>
                        <a href="#" class="fa fa-google-plus" aria-hidden="true"></a>
                        <a href="#" class="fa fa-instagram" aria-hidden="true"></a>
                        <a href="#" class="fa fa-behance" aria-hidden="true"></a>
                    </div>                            
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="single-member">
                    <div class="member-image">
                        <%=image_tag "images/volunteer-02.jpg", alt:"Image Name"%>
                    </div>
                    <div class="member-info">
                        <h4><a href="team_single.html">MH Sohag</a></h4>
                        <h5>Founder</h5>
                    </div>
                    <div class="member-social-link">
                        <a href="#" class="fa fa-facebook" aria-hidden="true"></a>
                        <a href="#" class="fa fa-twitter" aria-hidden="true"></a>
                        <a href="#" class="fa fa-google-plus" aria-hidden="true"></a>
                        <a href="#" class="fa fa-instagram" aria-hidden="true"></a>
                        <a href="#" class="fa fa-behance" aria-hidden="true"></a>
                    </div>                            
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="single-member">
                    <div class="member-image">
                        <%=image_tag "images/volunteer-03.jpg", alt:"Image Name"%>
                    </div>
                    <div class="member-info">
                        <h4><a href="team_single.html">MH Sohag</a></h4>
                        <h5>Founder</h5>
                    </div>
                    <div class="member-social-link">
                        <a href="#" class="fa fa-facebook" aria-hidden="true"></a>
                        <a href="#" class="fa fa-twitter" aria-hidden="true"></a>
                        <a href="#" class="fa fa-google-plus" aria-hidden="true"></a>
                        <a href="#" class="fa fa-instagram" aria-hidden="true"></a>
                        <a href="#" class="fa fa-behance" aria-hidden="true"></a>
                    </div>                            
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="single-member">
                    <div class="member-image">
                        <%=image_tag "images/volunteer-04.jpg", alt:"Image Name"%>
                    </div>
                    <div class="member-info">
                        <h4><a href="team_single.html">MH Sohag</a></h4>
                        <h5>Founder</h5>
                    </div>
                    <div class="member-social-link">
                        <a href="#" class="fa fa-facebook" aria-hidden="true"></a>
                        <a href="#" class="fa fa-twitter" aria-hidden="true"></a>
                        <a href="#" class="fa fa-google-plus" aria-hidden="true"></a>
                        <a href="#" class="fa fa-instagram" aria-hidden="true"></a>
                        <a href="#" class="fa fa-behance" aria-hidden="true"></a>
                    </div>                            
                </div>
            </div>
           
        </div>
    </div>
</section> 