<p id="notice"><%= notice %></p>

<p>
  <strong>Post:</strong>
  <%= @photo.post %>
</p>

<p>
  <strong>Title:</strong>
  <%= @photo.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @photo.description %>
</p>

<p>
  <strong>Visible:</strong>
  <%= @photo.visible %>
</p>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
