<%= simple_form_for @post do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= "#{pluralize(@post.errors.count, "error")} prohibited this post from being saved:" %>
      </h2>
      <ul>
        <% @post.errors.full_messages.each do |msg| %>
          <li>
            <%= msg %>
          </li>
          <% end %>
      </ul>
    </div>
  <% end %>
</br>
  <div class="form-group">
    <p>Note: Be sure to provide an image that will be displayed at the top of the post. Must be at least 770 x 440px.</p>
    <%= f.file_field :poster_image, label: "Poster Image" %>
  </div>

  <div class="form-group">
    <%= f.input :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.input :content, :as => :ckeditor, input_html: {:ckeditor => {:toolbar => 'FULL'}}, class: "form-control" %>
  </div>

    <%= f.hidden_field :user_id, value: current_user.id %>

  <div class="form-group">
    <%= f.button :submit %>
  </div>


<% end %>