<!DOCTYPE html>
<html>
<head>
  <%= render "/shared/header" %>
</head>
<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
	<div id="wrapper">
		<!--Header Section Start Here -->
		<%= render "/shared/navbar" %>
		<!-- Header Section End Here -->
			<%= yield %>
		<%= render "/shared/footer" %>
		<%= javascript_include_tag 'application', debug: true %>
    </div>
</body>
</html>
