<!DOCTYPE html>
<html>
<head>
  <%= render "/shared/header" %>
</head>
<body>
	<div id="wrapper">
		<!--Header Section Start Here -->
		<%= render "/shared/navbar" %>
		<!-- Header Section End Here -->
			<%= yield %>
		<%= render "/shared/footer" %>
		<%= javascript_include_tag 'application', debug: true %>
    </div>
</body>
</html>
